certifi
charset-normalizer
click
docker-pycreds
einops
gitdb
GitPython
idna
numpy
pathtools>=0.1.2
Pillow
promise
protobuf
psutil
PyYAML
requests
sentry-sdk
setproctitle
shortuuid
six
smmap
torch
torchaudio
torchvision
thop
tqdm
typing_extensions
urllib3
wandb>=0.12.21
